APP_ENV=local
APP_DEBUG=true
APP_URL=http://invest-match.test

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=invest_match
DB_USERNAME=root
DB_PASSWORD=

MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=
MAIL_FROM_ADDRESS=noreply@investmatch.com
MAIL_FROM_NAME=InvestMatch Nepal
