<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect everything to the public/ directory, but prevent loops
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
